---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  concurrency-*,
  misc-*,
  -misc-include-cleaner,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-std-print,
  performance-*,
  readability-identifier-naming
WarningsAsErrors: ''
HeaderFilterRegex: 'venimapping_camera'
ExtraArgs:
  - '-D__cpp_concepts=202002L'
  - '-Wno-builtin-macro-redefined'
CheckOptions:
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumConstantCase: CamelCase
  readability-identifier-naming.EnumConstantPrefix: k
  readability-identifier-naming.FunctionCase: CamelCase
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ParameterCase: lower_case
  readability-identifier-naming.PrivateMemberCase: lower_case
  readability-identifier-naming.PrivateMemberSuffix: _
  readability-identifier-naming.TypeAliasCase: CamelCase
  readability-identifier-naming.VariableCase: lower_case
...
